@media only screen and (max-width: 1280px) {

	.row {
		padding: 0 2%;
	}

	/*-- Header --*/

	.header-row.row-1 {
	    padding: 0 0 4px 0;
	}

	.header-row.row-1 .col-1,
	.header-row.row-1 .col-2 {
		width: 100%;
		float: none;
		text-align: center;
		padding: 0;
	}

	.main-nav li {
	    padding: 0 13px;
	}

	.header-row.row-3 .free-call_btn {
	    right: 2%;
	}

	.header-row.row-2 .col {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.header-row.row-2 .col-1 {
	    width: 21%;
	}

	.header-row.row-2 .col-2 {
	    width: 33%;
	}

	.header-row.row-2 .col-3 {
	    width: 21%;
	}

	.header-row.row-2 .col-4 {
	    display: none;
	}

	.header-row.row-2 .col-5 {
	    width: 25%;
	}

	/*-- /Header --*/

	/*-- Section 2 --*/

	.slider_1 .thumb_2_desc {
	    height: auto;
	}

	/*-- /Section 2 --*/

	/*-- Section 7 --*/

	.thumb_5 {
	    width: 33.33%;
	}

	/*-- /Section 7 --*/

	/*-- Section 1 - Catalog Page --*/

	.catalog-templ .col-1 {
	    width: 27%;
	}

	.catalog-templ .col-2 {
	    width: 73%;
	}

	.catalog-header-col-1 {
	    width: 100% !important;
	    padding-top: 10px;
	}

	.catalog-header-col-2 {
	    width: 100% !important;
	    text-align: left;
	}

	/*-- /Section 1 - Catalog Page --*/

	/*-- Section 1 - About Page --*/

	.article_2 {
		display: block;
		text-align: center;
	}

	.article_2 .col-1 {
		display: block;
		width: 100%;
	}

	.article_2 .col-2 img {
	    max-width: 95%;
	    right: 10px;
	}

	.article_2 .col-2 {
		display: none;
	}

	.article_2 h2 {
	    padding-bottom: 10px;
	    line-height: 41px;
	}

	/*-- /Section 1 - About Page --*/

	/*-- Section 2 - About Page --*/

	.thumbnails-2 {
	    margin: 0 -24px 17px -24px;
	}

	.thumb-2 {
	    padding: 10px 24px;
	}

	/*-- /Section 2 - About Page --*/

	/*-- Section 1 - Article Page --*/

	.article-slider_wrapp {
	    margin: 25px 0;
	}

	.article-slider_wrapp .count-slides_wrapp {
	     position: relative;
	     top: 0;
	     left: 0;
	     margin: 0 auto;
	}

	/*-- .Section 1 - Article Page --*/

	/*-- Footer --*/

	.footer-row.row-2 .col-1 {
	    width: 50%;
	}

	.footer-row.row-2 .col-2 {
	    width: 50%;
	}

	.footer-row.row-2 .col-3 {
	    width: 50%;
	}

	.footer-row.row-2 .col-4 {
	    width: 50%;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 1124px) {

	/*-- Section 1 - Contacts --*/

	.map-box {
	    height: auto;
	}

	.map-box .row {
		height: auto;
	}

	.map-box .row .right-center {
	    float: none;
	    height: auto;
	    width: 100%;
	}

	.map-box .row .right-center .contacts_wrapp {
	    position: relative;
	    top: 0;
		transform: translate(0, 0);
	}

	.contacts_wrapp {
	    width: 100%;
	    padding: 21px 0;
	}

	.contacts-boxes_wrapp {
		margin: 0 -15px;
	}

	.contacts-boxes_wrapp .contacts-box {
	    width: auto;
	    margin: 10px 15px !important;
	}

	#map {
	    height: 460px;
	    min-height: 460px;
	    position: relative;
	}

	/*-- /Section 1 - Contacts --*/

	/*-- Section 1 - Catalog Page --*/

	.catalog-templ .col-1 {
	    width: 30%;
	}

	.catalog-templ .col-2 {
	    width: 70%;
	}

	/*-- /Section 1 - Catalog Page --*/

}

@media only screen and (max-width: 1024px) {

	/*-- Section 2 --*/

	.thumb_2 {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		position: relative;
		padding-top: 150px;
	}

	.thumb_2 .col-1 {
	    display: block;
	    width: auto;
	    text-align: center;
	    padding: 20px 0 0 0;
	}

	.thumb_2 .col-2 {
	    display: block;
	    width: 100%;
	    height: 150px;
	    text-align: center;
	    padding: 0;
	    position: absolute;
	    top: 0;
	    left: 0;
	}

	.thumb_2 .col-2 img {
		display: block;
		width: auto;
		height: auto;
	    max-width: 100%;
	    max-height: 100%;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    -moz-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	}

	/*-- /Section 2 --*/

	/*-- Section 3 --*/

	.thumb_3 {
	    width: 33.33%;
	}

	/*-- /Section 3 --*/

	/*-- Section 5 --*/

	.slider-2_arrows-resp .slick-arrow {
		top: 100%;
		margin-top: -83px !important;
	}

	/*-- /Section 5 --*/

	/*-- Section 6 --*/

	.section-6:before {
		display: none;
	}

	.two-cols-templ .col-1 {
	    width: 100%;
	    text-align: center;
	    padding: 5px 0;
	}

	.two-cols-templ .col-2 {
	    width: 100%;
	    margin: 10px 0;
	    padding: 0 20px;
	    -webkit-border-radius: 25px;
	    -moz-border-radius: 25px;
	    border-radius: 25px;
	}

	.two-cols-templ .col-2 .green-circle {
	    left: 15px;
	    margin: -23px 0 0 0;
	}

	.shape_circle {
		display: none !important;
	}

	/*-- /Section 6 --*/

	/*-- Section 1 - Delivery --*/

	.delivery-card .col-1 {
	    width: 50%;
	}

	.delivery-card .col-2 {
	    width: 50%;
	}

	.two-cols-templ_2 .col-1 {
	    width: 280px;
	    padding: 39px 12px 45px 0;
	}

	/*-- /Section 1 - Delivery --*/

	/*-- Section 2 - Catalog Page --*/

	.catalog-templ .col-1 {
	    width: 35%;
	}

	.catalog-templ .col-2 {
	    width: 65%;
	}

	.catalog-thumbnails .thumb_3 {
	    width: 50%;
	}

	/*-- /Section 2 - Catalog Page --*/

	/*-- Section 1 - Card Page --*/

	.card-templ > .col-1 {
	    width: 100%;
	}

	.card-templ > .col-2 {
	    width: 100%;
	}

	.card-slider-miniatures_wrapp {
	    bottom: 20px;
	    left: 0;
	}

	.good-descript {
	    padding-right: 0;
	}

	.card-templ .card-inner {
	    margin: 15px 0;
	}

	/*-- /Section 1 - Card Page --*/

	/*-- Section 1 - Basket Page --*/

	.basket-table h3.resp-title {
	    display: block;
	}

	.basket-header .col-1 {
	    width: 100%;
	}

	.basket-header .col-2 {
	    width: 100%;
	    text-align: left;
	}

	.basket-table-header {
		display: none;
	}

	.basket-table .resp-title {
		display: block;
	}

	.basket-table {
	    display: block;
	    width: 100%;
	}

	.basket-table .table-row {
	    display: block;
	    font-size: 0;
	    line-height: 0;
	    position: relative;
		padding-top: 13px;
		padding-bottom: 18px;
	    padding-right: 32px;
	}

	.basket-table .cell {
	    display: inline-block;
	    vertical-align: middle;
	    padding: 5px;
	}

	.basket-table .cell-1 {
	    width: 15%;
	}

	.basket-table .cell-2 {
	    width: 29%;
	    padding-right: 15px;
	}

	.basket-table .cell-3 {
	    width: 38%;
	}

	.basket-table .cell-4 {
	    width: 18%;
	}

	.basket-table .cell-5 {
	    width: 100%;
	    padding-top: 20px;
	}

	.basket-table .cell-5 h3.resp-title {
		color: #18812a;
	}

	.basket-table .cell-6 {
	    width: 30px;
	    position: absolute;
	    top: 50%;
	   	right: 0;
	   	margin: -32px 0 0 0;
	}

	/*-- /Section 1 - Basket Page --*/

	/*-- Section 3 - About Page --*/

	.two-cols_4 > .col-1 {
	   display: none;
	}

	.two-cols_4 > .col-2 {
	   width: 100%;
	}

	/*-- /Section 3 - About Page --*/

	/*-- Section 5 - About Page --*/

	.two-cols_5 > .col-1 {
	    width: 100%;
	}

	.two-cols_5 > .col-2 {
	    display: none;
	}

	/*-- /Section 5 - About Page --*/

}

@media only screen and (max-width: 900px) {

	/*-- Breadcrumbs --*/

	.breadcrumbs_wrapp.two-cols .col-1 {
	    width: 100%;
	}

	.breadcrumbs_wrapp.two-cols .col-2 {
	    width: 100%;
	}

	/*-- /Breadcrumbs --*/

	/*-- Header --*/

	.header-row.row-1 .col-2 {
		display: none;
	}

	.header-row.row-2 {
	    padding: 3px 0 5px 0;
	}

	.header-row.row-2 .col-1 {
	    width: 100%;
	    text-align: center;
	}

	.header-row.row-2 .col-2 {
	    width: 43%;
	}

	.header-row.row-2 .col-3 {
	    width: 28%;
	}

	.header-row.row-2 .col-4 {
	    display: none;
	}

	.header-row.row-2 .col-5 {
	    width: 29%;
	}

	.catalog-nav {
	    /*margin: 0 -10px;*/
	}

	.catalog-nav > li {
	    /*margin-left: 0 10px;*/
	}

	.dropdown-menu .col {
	    width: 49%;
	}

	/*-- /Header --*/

	/*-- Section 1 --*/

	.thumbnails_1 .thumb_1 {
	    width: 50%;
	}

	/*-- /Section 1 --*/

	/*-- Section 4 --*/

	.thumb_4 {
	    width: 50%;
	}

	/*-- /Section 4 --*/

	/*-- Section 7 --*/

	.thumb_5 {
	    width: 50%;
	}

	/*-- /Section 7 --*/

	/*-- Section 1 - Delivery --*/

	.delivery-card {
		width: 100%;
	}

	.delivery-card:nth-child(odd) {
	    margin-right: 0;
	}

	.delivery-card:nth-child(even) {
	    margin-left: 0;
	}

	.two-cols-templ_2 {
		display: block;
		margin: 30px 0;
	}

	.two-cols-templ_2 .col-1 {
		display: block;
	    width: 100%;
	    padding: 0 0 10px 0;
	}

	.two-cols-templ_2 .col-2 {
		display: block;
	    width: 100%;
	    padding: 0;
	}

	.two-cols-templ_2 h3 {
	    padding-bottom: 7px;
	}

	.two-cols-templ_2 p {
	    padding-bottom: 10px;
	}

	/*-- /Section 1 - Delivery --*/

	/*-- Section 2 - Delivery --*/

	.two-cols-templ_2.resp {
		margin-bottom: 0;
	}

	.two-cols-templ_2.resp .col-1 {
		display: none;
	}

	/*-- /Section 2 - Delivery --*/

	/*-- Section 4 - Card Page --*/

	.form-inputs_wrapp .inner {
	    margin: 0;
	}

	.form-inputs_wrapp .input-field {
	    width: 100%;
	    margin: 10px 0;
	}

	/*-- /Section 4 - Card Page --*/

	/*-- Section 2 - Catalog Page --*/

	#sidebar {
		width: 100%;
		height: 100vh;
	    padding-right: 0;
	    float: none;
	    position: fixed;
	    top: 0;
	    left: -100%;
	    z-index: 10;
	}

	.catalog-resp-btn {
		display: block;
	}

	.catalog-templ .sidebar {
		width: 300px;
	    height: 100vh;
	    padding: 10px 0;
	}

	.catalog-templ .col-2 {
		width: 100%;
		padding-left: 0;
	}

	.catalog-thumbnails .thumb_3 {
	    width: 33.33%;
	}

	.catalog-close-btn {
	    display: block;
	}

	/*-- /Section 2 - Catalog Page --*/

	/*-- Section 1 - Articles Catalog Page --*/

	.article-thumb {
	    width: 50%;
	}

	.article-thumb.five:nth-child(odd) {
	    width: 50%;
	}

	.article-thumb.five:nth-child(odd) .img-box {
	    height: 220px;
	}

	.article-thumb.five:nth-child(odd) .descript {
	    position: relative;
	    width: 100%;
	}

	.article-thumb.five:nth-child(even) + .article-thumb {
	    width: 50%;
	}

	.article-thumb.five:nth-child(even) + .article-thumb .img-box {
	    height: 220px;
	}

	.article-thumb.five:nth-child(even) + .article-thumb .descript {
	    position: relative;
	    width: 100%;
	}

	.basket-form-header {
	    padding-bottom: 9px;
	}

	.inputs-wrapp_2 .input_wrapp {
	    width: 48%;
	    margin: 10px 1% 5px 1%;
	}

	.radio-5_wrapp {
	    margin: 0;
	}

	.radio-5 {
	    width: 100%;
	    margin: 7px 0;
	}

	/*-- /Section 1 - Articles Catalog Page --*/

	/*-- Section 1 - Article Page --*/

	.article-slider .slick-prev {
	    left: 10px;
	}

	.article-slider .slick-next {
	    right: 10px;
	}

	/*-- .Section 1 - Article Page --*/

	/*-- Footer --*/

	.footer-nav_wrapp {
	    padding: 15px 0;
	}

	.footer-row.row-1 .scroll-btn {
		width: 50px;
	    height: 50px;
	    position: fixed;
	    top: unset;
	    bottom: 2%;
	    opacity: .7;
	    right: 2%;
	    line-height: 44px;
	    z-index: 5;
	}

	.footer-row.row-1 .scroll-btn:link,
	.footer-row.row-1 .scroll-btn:visited {
	    opacity: .8;
	}

	.footer-row.row-1 .scroll-btn:active,
	.footer-row.row-1 .scroll-btn.active {
	    opacity: 1;
	}

	.footer-row.row-1 .scroll-btn:hover {
	    opacity: 1;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 768px) {

	.row {
	    padding: 0 4%;
	}

	.header-row.row-3 .row {
	    padding-right: 4%;
	}

	.header-h2.links-box {
		padding: 0 0 26px 0;
	}

	.header-h2.links-box:after {
		display: block;
		width: 100%;
		content: "";
	}

	.header-h2.links-box .more-link {
		margin-top: 10px;
	    position: relative;
	    bottom: 0;
	    float: right;
	}

	/*-- Header --*/

	.header-row.row-2 {
	    padding: 0;
	}

	.header-row.row-1 {
	    padding: 0;
	}

	.close-menu_wrapp {
	    display: block;
	}

	.search-resp {
		display: block;
	}

	.resp-fixed {
		display: block;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9;
		background: #ffffff;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	}

	.main-nav_wrapp {
		/*display: block;*/
		display: none;
		width: 100%;
		height: 100vh;
		padding: 10px 0 20px 0;
		position: fixed;
		top: 0;
		left: 0;
		background: rgba(255, 255, 255, .99);
		z-index: 10;
	}

	.main-nav {
		padding: 20px 0;
	}

	.main-nav li {
		display: block;
	    padding: 3px 13px;
	}

	.main-nav li a {
	    font-size: 16px;
	    line-height: 20px;
	}

	.header-row.row-2 .col-1 {
	    width: 41%;
	    text-align: left;
	}

	.header-row.row-2 .col-2 {
	    display: none;
	}

	.resp-col {
		display: inline-block;
	}

	.header-row.row-2 .col-3 {
	    display: none;
	}

	.header-row.row-2 .col-5 {
	    width: 39%;
	}

	.shop-card p{
		text-align: right !important;
		font-size: 0;
	}

	.shop-card p .count-goods,
	.shop-card p .goods-price {
		display: inline-block;
		vertical-align: top;
		font-size: 15px;
	}

	.shop-card .arrow-right {
		display: none;
	}

	.catalog-resp_header {
	    display: block;
	}

	.catalog-nav_wrapp {
		display: none;
		width: 100%;
		height: 100vh;
		background: #ffffff;
		padding: 10px 2% 20px 2%;
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 10;
	}

	.catalog-nav {
		margin: 35px 0 20px 0;
	}

	.catalog-nav > li {
		display: block;
	    margin: 0;
	    padding: 7px 0;
	    position: relative;
	}

	.dropdown_item {
		width: 100%;
		text-align: center;
	}

	.catalog-nav li a {
	    font-size: 18px;
	    line-height: 21px;
	}

	.catalog-nav li a.dropdown_item + .dropdown-btn {
		position: absolute;
		top: 8px;
	    right: 0;	    
		margin: 0;
	}

	.catalog-nav li:hover .dropdown-menu {
	    display: none;
	}

	.catalog-nav li:hover .dropdown_item:before {
	    display: none;
	}

	.dropdown-menu {
	    max-width: 100%;
	    margin: 10px 0 15px 0;
	    position: relative;
	    top: 0;
	}

	.dropdown-menu ul {
		margin: 0;
	}

	.dropdown-menu ul li {
		padding: 0;
	}

	.header-row.row-3 .row {
	    padding: 10px 4%;
	}

	.header-row.row-3 .free-call_btn {
	    position: relative;
	    right: 0;
	}

	.close-catalog {
	    display: inline-block;
	}

	/*-- /Header --*/

	/*-- Section 1 --*/

	.thumbnails_1 .thumb_1 {
		display: block;
	    width: 100%;
	    max-width: 600px;
	    margin: 0 auto;
	    padding: 12px 14px;
	}

	/*-- /Section 1 --*/

	/*-- Section 3 --*/

	.thumb_3 {
	    width: 50%;
	}

	.thumb_5 .img-box {
	    height: 207px;
	}

	/*-- /Section 3 --*/

	/*-- Section 2 - Catalog Page --*/

	.catalog-thumbnails .thumb_3 {
	    width: 50%;
	}

	/*-- /Section 2 - Catalog Page --*/

	/*-- Section 1 - Basket Page --*/

	.basket-table .table-row {
	    padding-right: 65px;
	}

	.basket-table .cell-1 {
	    width: 25%;
	}

	.basket-table .cell-2 {
	    width: 75%;
	    padding-right: 0;
	}

	.basket-table .cell-3 {
	    width: 62%;
	}

	.basket-table .cell-4 {
	    width: 38%;
	    text-align: right;
	}

	.basket-table .cell-5 {
	    width: 100%;
	    padding-top: 13px;
	}

	.basket-table .cell-5 h3.resp-title {
	    color: #18812a;
	}

	/*-- /Section 1 - Basket Page --*/

	/*-- Section 2 - About Page --*/

	.thumbnails-2 {
	    margin: 0 0 17px 0;
	}

	.thumb-2 {
		width: 100%;
	    padding: 10px 0 20px 0;
	    border-bottom: 1px solid #eeeeee;
	}

	.thumbnails-2 .thumb-2:last-child {
		border-bottom: none;
	}

	/*-- /Section 2 - About Page --*/

	/*-- Section 3 - About Page --*/

	.article_3 {
		padding-top: 230px;
		position: relative;
	}

	.article_3 .col-1 {
	    width: 100%;
	    padding: 7px 0 10px 0;
	    position: relative;
	}

	.article_3 .col-2 {
	    width: 100%;
	    padding: 0;
	}

	.article_3 .col-2 img {
	    height: 200px;
	    float: none;
	    margin: 0 auto;
	    position: absolute;
	    top: 0;
	    left: 0;
	}

	/*-- /Section 3 - About Page --*/

	/*-- Section 5 - About Page --*/

	.article_4 .col-1 {
	    width: 100%;
	    padding: 10px 0;
	}

	.article_4 .col-2 {
	    width: 100%;
	    padding: 10px 0;
	}

	.article_4 h2 {
	    padding-bottom: 0;
	    font-size: 24px;
	    line-height: 32px;
	}

	/*-- /Section 5 - About Page --*/

	/*-- Section 6 - About Page --*/

	.article_5 .col-1 {
	    width: 100%;
	    padding-right: 0;
	}

	.article_5 .col-2 {
	    width: 100%;
	    padding-left: 0;
	}

	.article_5 h2 {
	    padding-bottom: 4px;
	    font-size: 26px;
	    line-height: 34px;
	}

	.article_5 .col-1 .green-pill,
	.article_5 .col-1 .red-pill {
	    margin: 9px 0;
	}

	/*-- /Section 6 - About Page --*/

	/*-- Section 1 - Article Page --*/

	.two-cols_6 .col {
	    width: 100%;
	}

	.two-cols_6 .col:nth-child(odd) {
	    float: none;
	    padding: 0;
	}

	.two-cols_6 .col:nth-child(even) {
	    float: none;
	    padding: 0;
	}

	/*-- /Section 1 - Article Page --*/

}

@media only screen and (max-width: 580px) {

	/*-- Section 2 --*/

	.slider_1 .slick-arrow {
		top: 100% !important;
		margin: -43px 0 0 0;
	}

	.slider_1 .slick-dots {
		padding-left: 60px;
		padding-right: 60px;
	}

	/*-- /Section 2 --*/

	/*-- Section 3 --*/

	.thumb_3 {
		display: block;
	    width: 90%;
	    margin-left: auto;
	    margin-right: auto;
	}

	/*-- /Section 3 --*/

	/*-- Section 4 --*/

	.thumb_4 {
	    width: 100%;
	}

	/*-- /Section 4 --*/

	/*-- Section 6 --*/

	.two-cols-templ .col-2 {
	    padding: 10px 20px;
	}

	.two-cols-templ .col-2-col {
	    display: block;
	    padding: 0;
	    text-align: center;
	}

	.two-cols-templ .col-2-col-2 {
	    min-width: 220px;
	    padding: 0 10px !important;
	    text-align: center;
	}

	.two-cols-templ .col-2 .green-circle {
	    display: none;
	}

	.two-cols-templ .col-2-col-2 .red-pill {
		margin: 5px auto;
	}

	/*-- /Section 6 --*/

	/*-- Section 7 --*/

	.thumbnails_5 {
	    margin: 20px 0;
	}

	.thumb_5 {
		display: block;
	    width: 100%;
	    max-width: 428px;
	    margin-left: auto;
	    margin-right: auto;
	    padding: 15px 0;
	}

	/*-- /Section 7 --*/

	/*-- Section 2 - Catalog Page --*/

	.catalog-thumbnails .thumb_3 {
		display: inline-block;
		vertical-align: top;
	    width: 50%;
	}

	/*-- /Section 2 - Catalog Page --*/

	/*-- Section 1 - Articles Catalog Page --*/

	.articles-thumbnails {
	    margin: 10px 0;
	}

	.article-thumb {
		display: block;
	    width: 100%;
	    max-width: 400px;
	    margin-left: auto;
	    margin-right: auto;
	    padding: 15px 0;
	}

	.article-thumb.five:nth-child(odd) {
		display: block;
	    width: 100%;
	    max-width: 400px;
	    margin-left: auto;
	    margin-right: auto;
	}

	.article-thumb.five:nth-child(even) + .article-thumb {
		display: block;
	    width: 100%;
	    max-width: 400px;
	    margin-left: auto;
	    margin-right: auto;
	}

	/*-- /Section 1 - Articles Catalog Page --*/

	/*-- Section 1 - Card Page --*/

	.card-slider-big .slick-arrow.slick-prev {
	    left: 0;
	}

	.card-slider-big .slick-arrow.slick-next {
	    right: 0;
	}

	.prices-box .col-1 {
	    width: 100%;
	    padding-right: 0;
	}

	.prices-box .col-2 {
	    width: 100%;
	    padding-left: 0;
	}

	.prices-box .col-1:after {
		display: none;
	}

	.card-inner .two-cols_3 .col:nth-child(odd) {
	    width: 100%;
	    margin: 0;
	    float: none;
	}

	.card-inner .two-cols_3 .col:nth-child(even) {
	    width: 100%;
	    margin: 0;
	    float: none;
	}

	.card-row.two-cols .col-1 {
	    width: 100%;
	    float: none;
	    padding: 2px 0;
	}

	.card-row.two-cols .col-2 {
	    width: 100%;
	    float: none;
	    text-align: left;
	    padding: 2px 0;
	}

	.card-row .two-cols_2 .col-1 {
	    width: 100%;
	    padding-right: 0;
	}

	.card-row .two-cols_2 .col-2 {
	    width: 100%;
	    padding-left:  0;
	}

	.card-inline-elems {
		text-align: center;
	}

	.card-inline-elems .col {
		width: 100%;
		padding: 10px 0;
	}

	.soc-links_wrapp p {
	    width: 100%;
	    text-align: center;
	    padding-bottom: 10px;
	}

	.soc-links_wrapp .soc-list {
	    width: 100%;
	    margin: 0;
	    text-align: center;
	}

	.card-table .table-row .table-cell:nth-child(1) {
		width: 34%;
	}

	.card-table .table-row .table-cell:nth-child(2) {
		width: 66%;
	}

	.card-table .table-row .table-cell:nth-child(1) p {
		font-weight: bold;
	}

	/*-- /Section 1 - Card Page --*/

	/*-- /Section 1 - Basket Page --*/

	.basket-table .cell-1 {
	    width: 37%;
	}

	.basket-table .cell-2 {
	    width: 63%;
	}

	.basket-table h3.resp-title {
		padding-bottom: 4px;
	}

	.basket-table .table-row {
	    padding-right: 26px;
	}

	.basket-table .cell-3 {
	    width: 65%;
	}

	.basket-table .cell-4 {
	    width: 35%;
	    padding-bottom: 5px;
	    text-align: center;
	}

	.inputs-wrapp_2 {
	    margin: 0;
	}

	.inputs-wrapp_2 .input_wrapp {
	    width: 100%;
	    margin: 10px 0 5px 0;
	}

	.basket-form {
	    padding: 8px 15px 12px 15px;
	}

	.radio-5 .inner {
	    padding: 12px 10px 14px 30px;
	}

	.radio-5-header:before {
	    left: -26px;
	}

	.radio-5-header .col-1 {
	    display: block;
	    padding: 5px 0;
	}

	.radio-5-header .col-2 {
	    display: block;
	    padding: 5px 0;
	    text-align: left;
	}

	.submit-box_wrapp {
	    display: block;
	}

	.submit-box_wrapp .col-1 {
	    display: block;
	    width: 100%;
	    padding: 5px 0;
	}

	.submit-box_wrapp .col-2 {
	    display: block;
	    width: 100%;
	    padding: 5px 0;
	}

	/*-- /Section 1 - Basket Page --*/

	/*-- Section 4 - About Page --*/

	.info-box-2 {
	    margin: 20px 0;
	    padding: 0 0 0 13px;
	}

	.info-box-2 h2 {
	    padding-bottom: 15px;
	    font-size: 20px;
	    line-height: 32px;
	}

	/*-- /Section 4 - About Page --*/

	/*-- Footer --*/

	.footer-nav {
	    margin: 0;
	    text-align: center;
	}

	.footer-nav li {
	    padding: 6px 14px;
	}

	.footer-row.row-2 .col {
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	.footer-row.row-2 .col-1 {
	    width: 100%;
	}

	.footer-row.row-2 .col-2 {
	    width: 100%;
	}

	.footer-row.row-2 .col-3 {
	    width: 100%;
	}

	.footer-row.row-2 .col-4 {
	    width: 100%;
	}

	.footer-row.row-3 {
		padding: 10px 0;
	}

	.footer-row.row-3 .col {
		text-align: center;
		padding: 5px 0;
	}

	.footer-row.row-3 .col-1 {
	    width: 100%;
	}

	.footer-row.row-3 .col-2 {
	    width: 100%;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 480px) {

	/*-- Header --*/

	.header-row.row-2 .col-1 {
	    width: 41%;
	    padding-top: 10px;
	}

	.resp-col {
		width: 28%;
		text-align: center;
	}

	.header-row.row-2 .col-5 {
	    width: 31%;
	}

	.shop-card .shop-card-col-1 {
	    width: auto !important;
	}

	.shop-card p .count-goods {
		font-weight: bold;
	}

	.shop-card p .goods-price {
		display: none;
	}

	.shop-card .shop-card-col-2 {
	    width: 59px !important;
	}

	.header-row.row-3 {
		padding-top: 10px;
	}

	.header-row.row-3 .free-call_btn {
		display: block;
		position: relative;
		right: 0;
	}

	.dropdown-menu .col {
	    width: 100%;
	    padding: 15px 0 0 0;
	}

	.dropdown-menu .title_wrapp {
	    min-height: 30px;
	}

	/*-- /Header --*/
	
	/*-- Section 1 --*/

	.thumb_1 .col-1 {
	    width: 104px;
	}

	/*-- /Section 1 --*/

	/*-- Section 1 - Delivery --*/

	.delivery-card .inner {
	    display: block;
	    padding: 10px 5%;
	}

	.delivery-card .col-1,
	.delivery-card .col-2 {
	    display: block;
	    width: 100%;
	    text-align: center;
	    padding: 10px 0;
	}

	.pagination li {
	    margin: 1px;
	}

	/*-- /Section 1 - Delivery --*/

	/*-- Section 2 - Catalog Page --*/

	.catalog-close-btn {
	    top: 57px;
	    left: 242px;
	}

	.catalog-thumbnails .thumb_3 {
		display: block;
	    width: 100%;
	    max-width: 400px;
	    margin-left: auto;
	    margin-right: auto;
	}

	/*-- /Section 2 - Catalog Page --*/

	/*-- Section 1 - Card Page --*/

	.card-header-desc .col-1 {
	    width: 100%;
	}

	.card-header-desc .col-2 {
	    width: 100%;
	    text-align: left;
	}

	/*-- /Section 1 - Card Page --*/

	/*-- /Section 1 - Basket Page --*/

	.basket-table .table-row {
	    border-bottom: 1px solid #a5a5a5;
	}

	.basket-table .cell-2 {
	    padding-bottom: 0 !important;
	}

	.basket-table .cell-3 {
	    width: 100%;
	    border-bottom: 1px solid #eeeeee;
	}

	.basket-table .cell-4 {
	    width: 100%;
	    text-align: left;
	    border-bottom: 1px solid #eeeeee;
	}

	/*-- /Section 1 - Basket Page --*/

	/*-- Footer --*/

	.two-inputs_wrapp .input_wrapp {
	    width: 100%;
	    float: none;
	    margin: 8px 0;
	}

	.two-inputs_wrapp .input_wrapp:nth-child(even) {
	    float: none;
	    margin: 8px 0;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 350px) {

	/*-- Section 1 - Catalog Page --*/

	.pagination li a {
	    min-width: 30px;
	    height: 30px;
	    padding: 0 7px;
	    -webkit-border-radius: 15px;
	    -moz-border-radius: 15px;
	    border-radius: 15px;
	    font-size: 14px;
	    line-height: 30px;
	}

	/*-- /Section 1 - Catalog Page --*/

	/*-- /Section 1 - Basket Page --*/

	.basket-table .table-row {
	    padding-right: 0;
	}

	.basket-table .cell {
	    padding: 9px 0;
	}

	.basket-table .cell-1 {
	    width: 100%;
	    padding: 9px 40px 9px 0;
	}

	.basket-table .cell-2 {
	    width: 100%;
	    padding-left: 0;
	    padding-right: 0;
	}

	.basket-table .cell-4 {
	    width: 100%;
	    text-align: left;
	    border-bottom: 1px solid #eeeeee;
	}

	.basket-table .cell-6 {
	    top: 51px;
	    margin: 0;
	}

	/*-- /Section 1 - Basket Page --*/

}

@media only screen and (min-width: 901px) {

	#sidebar {
		left: 0 !important
	}

	.sidebar_bg {
		display: none !important
	}

}

@media only screen and (min-width: 769px) {

	.main-nav_wrapp {
		display: block !important;
		overflow: unset !important;
	}

	.catalog-nav_wrapp {
		display: block !important;
		overflow: unset !important;
	}

	.catalog-nav_wrapp .mCustomScrollBox {
	    overflow: unset !important;
	}

	.catalog-nav_wrapp .mCSB_container {
	    overflow: unset !important;
	}

	.catalog-nav_wrapp .mCSB_scrollTools {
		display: none !important;
	}

	.catalog-nav_wrapp .catalog-nav li:link .dropdown-menu,
	.catalog-nav_wrapp .catalog-nav li:visited .dropdown-menu {
	    display: none !important;
	}

	.catalog-nav_wrapp .catalog-nav li:link .dropdown_item:before,
	.catalog-nav_wrapp .catalog-nav li:visited .dropdown_item:before {
	    display: none !important;
	}

	.catalog-nav li:hover .dropdown-menu {
	    display: block !important;
	}

	.catalog-nav li:hover .dropdown_item:before {
	    display: block !important;
	}

}